<div class="container">
    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span>{{{__ " Node Authentication"}}}</h1>
        <p>{{{__ "Login or Register with:"}}}</p>
        <a href="/auth/login" class="btn btn-default"><span class="fa fa-user"></span>{{{__ " Local Login"}}}</a>
        <a href="/auth/signup" class="btn btn-default"><span class="fa fa-user"></span>{{{__ " Local Signup"}}}</a>
    </div>
</div>